#contact_modal {
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 54px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.error{
    border: 2px solid red
}

.error-message {
    display: none;
    color: red;
    font-size: 17px;
  }
  

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header .left-section {
    display: flex;
    flex-direction: column;
}

.photograph-header h1 {
    color: #D3573C;
    padding-top: 12%;
    font-size: 64px;
    margin: 0;

}

.photograph-header h3 {
    color: #D3573C;
    font-size: 24px;    
    margin: 0;
}

.photograph-header div {
    color: #525252;
    font-size: 18px;    
    margin: 0;
    padding-top: 3%;
}

.photograph-header .center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.photograph-header img {
    display:flex;
    margin-right: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: fill;

}

button {
    background-color: #901C1C;
    text-align: center;
    color: #FAFAFA;
    width: 170px;
    height: 69px;
}


.likesPrice {
    display: flex;
    width: 256px;
    align-items: center;
    gap: 20px; /* Adjust gap as needed for space between elements */
    background-color: #DB8876;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
}

.likesPrice span {
    display: inline-block;
    padding: 10px; /* Adjust padding as needed */
}


/* Style the dropdown container */
.dropdownMenu {
    margin: 20px 100px 100px;
    font-family: Arial, sans-serif;
}

/* Style the label */
.dropdownMenu label {
    margin-right: 10px;
    font-size: 16px;
}

/* Style the select element */
.dropdownMenu select {
    padding: 10px;
    font-size: 16px;
    background-color: #901C1C; /* Background color for the dropdown */
    color: white; /* Text color for the dropdown */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    padding-right: 10px; /* Space for custom arrow */
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: #901C1C;
    margin: 0 75px;
}

.portfolio article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio img {
    display: flex;
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.portfolio .titleLikes {
    display: flex;
    justify-content: space-between;
    width: 85%;  /* Ensure the div spans the full width of its container */
}

video {
    height: 300px;
    width: 350px;
}
